@page
@model _201400L_FinalProj.Pages.ResetPasswordModel
@{
}


<div class="row justify-content-center align-items-center">

	<div class="col-sm-12 col-md-12 col-lg-4">
		<h1 class="mb-3">Reset Password </h1>

		<form method="post" asp-antiforgery="true">
			<div asp-validation-summary="All" class="text-danger"></div>
			<input type="hidden" value="" asp-for ="RPM.Email_to_reset" id="eid"/>
			<input type="hidden" value="" asp-for="RPM.Token" id="T" />
			<div class="mb-3">
				<label class="form-label" asp-for="RPM.PasswordReset">Password:</label>
				<input type="Text" asp-for="RPM.PasswordReset" class="form-control" />
				<span asp-validaton-for="Lmodel.Email" class="text-danger"></span>
			</div>

			<div class="mb-3">
				<label class="form-label" asp-for="RPM.ConfirmPasswordReset">Confirm Password</label>
				<input type="Text" asp-for="RPM.ConfirmPasswordReset" class="form-control" />
				<span asp-validaton-for="Password" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<button type="submit" class="btn btn-primary">
					Login
				</button>

			</div>
		</form>
	</div>
</div>

<script>
	var queryString = window.location.search;
	const urlParams = new URLSearchParams(queryString);
	const birthdate = urlParams.get('e');

	document.getElementById("eid").value = birthdate;

	const Token = urlParams.get('token');

	document.getElementById("T").value = Token;
</script>
