@page
@model _201400L_FinalProj.Pages.errors.EmailConfirmationErrorModel
@{
}
<h1 class="text-danger">Error</h1>
<h2 class="text-danger">An error occurred while processing your Email. Please try again later.</h2>